/* ======================GLOBAL======================== */
/* ======================GLOBAL======================== */

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #18121E;
  line-height: 150%;
}

.wrapper {
  min-width: 300px;
  width: 100%;
  overflow: hidden;
}
.container {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
}
.burger {
  display: none;
  z-index: 3;
}
.burger:hover + .burger__inside {
  right: 0;
}
.header {
  background: url(../images/Hills.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FDFDFD;
  font-size: 18px;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
}
.heading{
  
}
.heading__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 83%;
  color: #F2BE22;
  margin-bottom: 8px;
}
.heading__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
}
.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.burger__inside {
  width: 290px;
  height: 535px;
  background: #1a3e3e;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding-top: 80px;
  right: -290px;
  transition: all .5s ease;
}
.burger__inside-line {
  margin-left: 18px;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  transition: all .3s ease;
}
.burger__inside-line:last-child {
  margin-bottom: 0;
}
.burger__inside-line:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f2be22;
}
.burger__inside-line:hover svg{
  color: #f2be22;
}

.burger__inside-line svg {
  margin-right: 10px;
  color: #FDFDFD;
}
.burger__inside-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%; 
}

/* =================HEADER__TOP======================== */
/* =================HEADER__TOP======================== */


.header__top {
  font-weight: 600;
}
.header__top-inner {
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: space-between;
}
.header__logo {
  margin-right: 212px;
}
.header__nav {
}
.header__nav-list {
  display: flex;
  margin-right: 49px;
}
.header__nav-item {
  display: flex;
  margin-right: 24px;  
}
.header__nav-item:last-child {
  margin-right: 0px;  
}

.header__top-btn {
  background-color: #1A3E3E;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em; 
  line-height: 20px; 
}

/* =================HEADER__BODY======================== */
/* =================HEADER__BODY======================== */

.header__body {
  
}
.header__body-inner {
  margin-bottom: 82px;
}
.basic__header-title {
  font-family: NEXTART;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 2%;
  max-width: 1000px;
  margin-bottom: 41px;
  /* margin-top: 463px; */
}
.header__bottom {
  max-width: 1180px;
  height: 161px;
  background: url(../images/PNG.png) no-repeat;
  background-size: 100% 161px;
}
.header__form {
  height: 100%;
  padding: 40px 42px 40px 43px;
  
}
.header__form-row {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

.header__form-label {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0px;
  margin-right: 24px;
}
.header__form-input {
  padding: 14px 44px 14px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  max-width: 270px;
  display: block;
  background-color: transparent;
  color: #FDFDFD;
  height: 52px;
  flex: 1;
  min-width: 0px;
}
.header__form-input::placeholder {
  color: #FDFDFD;
}
.input__bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 8px 8px 0px 8px;
}
.header__form-btn {
  background-color: #FDFDFD;
  border-radius: 4px;
  padding: 16px 36px;
  color: #1A3E3E;
  font-weight: 700;
  letter-spacing: 1.2%;
}
.header__form-btn--one {
  display: none;
  position: absolute;
  width:max-content;
  margin-top: 80px;
  margin-left: 3px;
}


/* ======================RESEARCH======================== */
/* ======================RESEARCH======================== */



.research {
  font-family: Nunito Sans;
}
.research__inner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.research__image-container {
  max-height: 526px;
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
}
.research__image-container img {
  border-radius: 24px;
}
.image__mount {
  border-radius: 24px;
  padding-right: 130px;
  width: 480px;
  height: 400px;

}
.research__image-box {
  position: relative;
  top: -274px;
  right: -130px;
  width: 350px;
  height: 400px;
  background-image: url(../images/research/valley.jpg);
  overflow: hidden; 
  border-radius: 24px;
  transition: all .3s;
  background-size: contain;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;
}

.research__image-box::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0); /* изначально прозрачный */
  transition: background-color 0.4s ease;
  z-index: 1;
}

.research__image-box:hover::before {
  background-color: rgba(0, 0, 0, 0.4); /* тёмный фильтр */
}

.research__image-box img {
  z-index: 2;
  transition: box-shadow 0.4s ease;
}
.research__image-box:hover .image__play {
  box-shadow: 0 0 5px 8px #FDFDFD;
}



.image__valley {

}
.image__play {
  width: 50px;
  height: 50px;
  position: relative;
  
}
.image__play:hover {

}
.main__research-content {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  
}

.research__heading {
  margin-top: 64px;
}

.reserch__paragraph {
  margin: 40px 0;
}
.research__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #FDFDFD;
  border-radius: 4px;
  padding: 16px 36px;
  background-color: #1A3E3E;
  width: max-content;
}


/* ======================OFFERS======================== */
/* ======================OFFERS======================== */


.offers {
  background-color: #F3F5F4;
}
.offers__inner {
  margin: 85px 0 95px 0;
  display: flex;
  justify-content: space-between;
}
.offers__content {
  max-width: 580px;
  margin-right: 40px;
}
.offers__paragraph {
  margin: 40px 0;
}
.peculiarities__list {
  margin-bottom: 40px;
}
.peculiarities__list-item {
  margin-bottom: 40px;
  
}
.peculiarities__list-content {
  display: inline-flex;
  position: relative;
}
.peculiarities__list-item::before {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  margin: 7px 0;
}
.guide::before {  
  background-image: url(../images/icons/guide.svg);  
}
.approach::before {
  background-image: url(../images/icons/approach.svg);
}
.prices::before {
  background-image: url(../images/icons/prices.svg);
}
.peculiarities__list-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 1.2%;
  padding-left: 66px;
}
.peculiarities__list-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  padding-left: 66px;
}

.offers__btn {
  color: #FDFDFD;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1.2%;
  border-radius: 4px;
  padding: 16px 36px;
  background-color: #1A3E3E;
  width: max-content;
  display: block;
}
.offers__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  gap: 10px;
  width: 510px;
  height: 510px;
}
.offers__image1,
.offers__image4 {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.offers__image2,
.offers__image3 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


/* ======================DIRECTIONS======================== */
/* ======================DIRECTIONS======================== */


.directions {
}
.directions__inner {
  margin-top: 85px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.directions__heading {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directions__pictures {
  width: 100%;
  display: flex;
}

.directions__image-box {
  width: 380px;
  height: 500px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 32px;
  position: relative;
}
.directions__image-box:hover .slider {
  top: 0;
}
.directions__image-box:hover .slider__title {
  top: 6%;
}
.directions__image-box:hover .slider__subtitle {
  top: 11.8%;
}
.directions__image-box:hover .price {
  top: 7%;
}
.directions__image-box:hover .rating__box {
  right: -65px;
}
.directions__image-box:last-child {
  margin-right: 0;
}
.lake{
  background-image: url(../images/directions/1.jpg);
}
.night {
  background-image: url(../images/directions/2.jpg);
}
.yoga {
  background-image: url(../images/directions/3.jpg);
}
.rating__box {
  position: absolute;
  top: 50px;
  right: 0px;
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  width: 65px;
  height: 32px;
  background-color: rgb(253, 253, 253, 0.4);
  transition: all .2s ease;
}
.rating__box img {
  position: relative;
  top: 3.57px;
}
.rating__box-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: 7px;
  left: 36px;
}
.slider {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  position: relative; 
  top: 82%;
  right: 0px;
  color: #FDFDFD;
  display: flex;
  flex-direction: column;
  transition: all .4s ease;
}
/* .slider__header {
  padding: 20px 32px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .slider__heading {
  display: flex;
  flex-direction: column;
} */
.slider__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  width: max-content;
  position: absolute;
  top: 4%;
  left: 8.42%;
  transition: all .4s ease;
}
.slider__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: max-content;
  position: absolute;
  top: 9.8%;
  left: 8.42%;
  transition: all .4s ease;
}
.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;
  padding: 1.8% 4.21% 1.4%;
  height: max-content;
  width: 22.63%;
  height: 8%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 5%;
  left: 68.94%;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 23%;
  left: 8.421%;
  padding-right: 8.421%;
}
.slider__btn {
  display: flex; 
  position: absolute;
  border-radius: 4px;
  padding: 3.16% 6.3157%;
  background: #1a3e3e;
  top: 87.2%;
  left: 8.421%;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
}
.slider__btn span {
  align-items: center;
}
.directions__btn {
  margin-top: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1.2%;
  border-radius: 4px;
  padding: 16px 36px;
  width: 244px;
  height: 52px;
  background-color: #1A3E3E;
  color: #FDFDFD; 
  width: max-content;
}


/* ======================BLOG======================== */
/* ======================BLOG======================== */


.blog {
  background-color: #f3f5f4;
}
.blog__inner {
  margin: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__container {
  margin: 40px 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px; 
  row-gap: 24px;
}
.blog__container-item {
  background: #fdfdfd;
  display: flex;
  border-radius: 10px;
  padding: 16px;
  width: 580px;
  height: 312px;
}
.blog__image-box {
  margin-right: 24px;
}
.blog__item-content {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  width: 294px;
  height: 280px;
}
.block__item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #18121e;
}
.blog__item-paragraph {
  overflow: hidden;
  margin: 24px 0 40px;
  height: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #18121e;
}
.blog__item-content:hover .block__item-header {
  text-decoration: underline;
}
.blog__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__item-date {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #f2be22;
}
.blog__item-read {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #1a3e3e;
}
.blog__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1.2%;
  color: #fdfdfd;
  border-radius: 4px;
  padding: 16px 36px;
  background: #1a3e3e;
  width: max-content;
  height: 52px;
}


/* ======================PHOTOES======================== */
/* ======================PHOTOES======================== */


.photos {
}
.photos__inner {
  margin: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photos__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photos__container {
  margin: 40px 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.photos__image-box {
  position: relative;
  display: block;
  overflow: hidden;
}
.photos__image-box:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3); 
}
.photos__image-box:hover .zoom {
  opacity: 1;
}
.photos__image-box img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.zoom {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  width: max-content;
}
.grid1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: url(../images/photos/1.jpg);
}
.grid5 {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-image: url(../images/photos/5.jpg);
}
.photos__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  border-radius: 4px;
  padding: 16px 36px;
  width:max-content;
  height: 52px;
  background: #1a3e3e;
}

.form__container {
  max-width: 100%;
  height: 196px;
  margin-bottom: -98px;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
  background: #fdfdfd;
  padding: 40px 100px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.form__heading {
  width: 380px;
  height: 90px;
}
.form__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
}
.form__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
}
.form__content {
  max-width: 536px;
  display: flex;
  flex-direction: column;
}
.form__email-container {
}
.form__email-container--heading {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #18121e;
}
.form__and_bnt {
  display: flex;
}
.email__input {
  border-radius: 4px;
  padding: 0px 16px;
  width: 280px;
  height: 44px;
  background: #f3f5f4;
  margin-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #18121e;  
}
.email::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #18121e;
  opacity: 1;
}
.subscribe__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  background: #1a3e3e;
  border-radius: 4px;
  padding: 12px 24px;
  width: 240px;
  height: 44px;
}
.form__content-bottom {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #18121e;
  margin-top: 8px;
}
.form__content-bottom a{
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.form__subtitle2 {
  display: none;
}
.form__title2 {
  display: none;
}

/* ======================FOOTER======================== */
/* ======================FOOTER======================== */


.footer {
}
.footer__main {
  background: #1a3e3e;
}
.footer__main-inner {
  padding-top: 178px;
  padding-bottom: 80xp;
  display: flex;
  color: #fff;
  padding-bottom: 80px;
}
.company {
  display: flex;
  flex-direction: column;
  margin-right: 62px;
}
.company__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #f3f5f4;
  margin-bottom: 17px;
}
.company__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  max-width: 438px;

  width: 480px;
  height: 60px;
  margin-bottom: 80px;
}
.company__socials {
}
.email_and_phone {
}
.email_and_phone a {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.email {
  margin-right: 24px;
}
.socials {
  margin-top: 32px;
  display: flex;
  margin-left: -2px;
}
.social__items {
  margin-right: 16px;
  width: 32px;
  height: 32px;
}
.social__items:last-child{
  margin-right: 0;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
  margin-right: 120px;
}
.services__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #f3f5f4;
  margin-bottom: 20px;
}
.services__list {
}
.services__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fdfdfd;
  margin-bottom: 16px;
  padding-left: 11px;
  width: max-content;
  transition: all .2s ease;
}
.services__list-item:last-child {
  margin-bottom: 0;
}
.services__list-item::before {
  content: "";
  background: url(../images/icons/Vector.svg);
  width: 6px; 
  height: 10px;
  position: relative;
  display: inline-block;
  top: 0px;
  right: 10px; 
}
.services__list-item:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f2be22;
}
.important {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: auto;
  max-width: 246px;
}
.important__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #f3f5f4;
  margin-bottom: 20px;
}
.important__list {
  
  
}
.important__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fdfdfd;
  margin-bottom: 16px;
  padding-left: 11px;
  width: max-content;
  transition: all .2s ease;
}
.important__list-item:last-child {
  margin-bottom: 0;
}
.important__list-item::before {
  content: "";
  background: url(../images/icons/Vector.svg);
  width: 6px; 
  height: 10px;
  position: relative;
  display: inline-block;
  top: 0px;
  right: 10px; 
}
.important__list-item:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f2be22;
}
.footer__bottom {
  background: #18121e;
  
}
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}
.footer__bottom-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}
.footer__bottom-item span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}



/* ======================MEDIA======================== */
/* ======================MEDIA======================== */


@media (max-width: 1230px){
  .header__logo {
    margin-right: 49px;
    margin-left: 16px;
  }
  .header__top-btn {
    margin-right: 16px;
  }
  .header__body-inner {
    margin-right: 16px;
    margin-left: 16px;
  }
  .research__image-container {
    margin-left: 16px;
  }
  .main__research-content {
    margin-right: 16px;
  }
  .research__image-box {
    transition: none !important;
  }
  .offers__inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .directions__inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .directions__pictures {
    width: 100%;
    flex-direction: space-between;
    aspect-ratio: 1180 / 500;
  }
  .directions__image-box {
    flex-shrink: 1;
    aspect-ratio: 380 / 500;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slider__title {
    font-size: clamp(18px, 2vw, 24px);
    transition: none;
  }
  .slider__subtitle {
    font-size: 1.15vw;
  }
  .slider__paragraph {
    font-size: clamp(14px, 1.25vw, 16px);
  }
  .price {
    font-size: 1.53vw;
    height: max-content;
  }
  .slider__btn {
    font-size: clamp(14px, 1.25vw, 16px);
  }
  .blog__container {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, auto);
    gap: 24px;
  }
  .blog__inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .photos__inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .photos__container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    flex-wrap: nowrap;
    width: 100%;
  }
  .photos__image-box {
    height: 250px;
    width: 280px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px;
  }
  .photos__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .grid1 {
    background-image: url(../images/photos/11.jpg);
  }
  .grid5 {
    background-image: url(../images/photos/51.jpg);
  }
  .form__container {
    padding: 40px;
    justify-content: space-around;
    margin-right: 16px;
    margin-left: 16px;
  }
  .footer__main-inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer__bottom-inner {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media (max-width: 1180px) {
  .offers__inner {
    align-items: center;
  }
}

@media (max-width: 1150px) {

}

@media (max-width: 1090px) {
  .header__top-inner {
    padding-top: 22px;
    padding-bottom: 10px;
  }
  .header__top-btn {
    margin-right: 0px;
    margin-left: 120px;
  }
  .burger {
    display: block;
    margin-right: 16px;
  }
  .burger span {
    display: block;
    background-color: #FFFFFF;
    height: 6px;
    width: 42px;
    border-radius: 4px;
    margin: 9px 0;
  }
  .burger::before{
    content: "";
    display: block;
    background-color: #FFFFFF;
    height: 6px;
    width: 42px;
    border-radius: 4px;
  }
  .burger::after {
    content: "";
    display: block;
    background-color: #FFFFFF;
    height: 6px;
    width: 26px;
    border-radius: 4px;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    margin-right: 320px;
  }
  .header__bottom {
    display: none;
  }
  .header__form-btn--one {
    display: block;
    position: relative;
  }
  .basic__header-title {
    margin-bottom: 0;
  }
  .image__mount {
    display: none;
  }
  .research__image-box {
    transition: none !important;
    position: relative;
    top: 0;
    left: 0;

  }
  .research__image-container {
    width: max-content;    
  }
  .research__heading {
    margin-top: 0px;
  }
  
  .offers__inner {
    flex-direction: column;
  }
  .offers__content {
    margin-right: 0;
  }
  .offers__btn {
    margin-right: auto;
    margin-left: auto;
  }
  .offers__content {
    margin-bottom: 80px;
  }

}

@media (max-width: 1065px) {
  .form__and_bnt {
    flex-direction: column;
    gap: 16px;
  }
  .form__container {
    height: max-content;
    justify-content: space-between;
    margin-bottom: -130px;
  }
  .form__content-bottom {
    margin-top: 24px;
  }
  .form__content {
    width: 487px;
  }
  .footer__main-inner {
    padding-top: 218px;
  }

}

@media (max-width: 1025px) {
  .form__container {
    flex-direction: column;
    margin-bottom: -150px;
  }
  .form__heading {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .footer__main-inner {
    padding-top: 230px;
  }
}

@media (max-width: 1011px) {
  .directions__pictures {
    min-height: 400px;
    width: 100%;
    aspect-ratio: none;
  }
  .directions__image-box {
    height: 400px;
    aspect-ratio: none;
    background-size: cover;          
    background-position: center;
    background-repeat: no-repeat;
  }
  .slider__subtitle {
    display: none;
  }
  .price {
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    top: 20px;
    width: max-content;
    padding: 9px 12px 6px;
  }
  .slider__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    top: 23px;
    transition: all .4s ease;
    left: 24px;
  }
  .slider__paragraph {
    font-size: 14px;
  }
  .directions__image-box:hover .slider__title {
    top: 9%;
  }
  .slider__btn {
    font-size: 14px;
    padding: 9.6px 18px;
  }
}

@media (max-width: 970px) {
  .header__top-btn {
    display: none;
  }
  .header__logo {
    margin-right: 0px;
  }
  .research__heading-subtitle {
    font-size: 20px;
  }
  .research__heading-title {
    font-size: 28px;
  }
  .main__research-content {
    justify-content: space-between;
  }
  .reserch__paragraph {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .research__image-box {
    height: 369px;
    width: 322.875px;
  }
}

@media (max-width: 962px) {
  .directions__pictures {
    height: 400px;
  }
  .directions__image-box {
    width: 285px;
    height: 400px;
    flex-shrink: 0;
  }
  .price {
    left: 194px;
  }
  
}

@media (max-width: 831px) {
  .research__heading-subtitle{
    font-size: 16px;
  }
  .research__heading-title {
    font-size: 24px;
  }
  .research__btn {
    padding: 12px 24px;
    width: 176px;
    height: 44px;
  }
  .research__inner {
    height: 100%;
  }
  .reserch__paragraph {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .research__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 775px){
  .research__image-box {
    height: 286px;
    width: 250px;
  }
}


@media (max-width: 690px) {
  .header {
    justify-content: start;
    height: 100%;
  }
  .header__body-inner {
    margin-top: 365px;
  }
  .basic__header-title {
    font-size: 40px;
  }
  .research__inner {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 67px;
    margin-bottom: 67px;
  }
  .research__heading-subtitle {
    font-size: 24px;
  }
  .research__heading-title {
    font-size: 32px;
  }
  .reserch__paragraph {
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .research__btn {
    padding: 16px 36px;
    width: 200px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
  }
  .main__research-content {
    margin-right: 0;
    margin-bottom: 54px;
  }
  .research__image-container {
    margin-left: 0;
    margin-right: 0;
    width: 358px;
    height: 416px;
    display: block; 
  }
  .research__image-box {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
}

@media (max-width: 660px) {
  .blog__container {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr;
    gap: 24px;
    width: 100%;
  }
  .blog__container-item {
    width: 285px;
    height: 496px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    padding: 0;
  }
  .blog__image-box {
    width: 285px;
    height: 280px;
    margin-right: 0;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
  }
  .blog__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
  }
  .blog__item-content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 216px;
    padding: 16px;
    justify-content: space-between;
  }
  .block__item-header {
    font-size: 20px;
    line-height: 130%;
  }
  .blog__item-paragraph {
    margin: 0;
    height: max-content;
    max-height: 79px;
  }
  .blog__inner {
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer__bottom {
    height: max-content;
  }
  .footer__bottom-inner {
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: max-content;
  }
}

@media (max-width: 635px) {
  .form__content {
    width: 100%;
  }
  .form__content-bottom {
    width: 100%;
  }
}

@media (max-width: 598px) {
  .header {
    height: 864px;
    justify-content: space-between;
  }
  .header__body-inner{
    margin-top: 0px;
  }
  .research__heading-subtitle {
    font-size: 20px;
  }
  .research__heading-title {
    font-size: 28px;
  }
  .reserch__paragraph {
    font-size: 18px;
  }
  .offers__heading-subtitle {
    font-size: 20px;
  }
  .offers__heading-title {
    font-size: 28px;
  }
  .offers__images {
    display: none;
  }
  .offers__inner {
    margin-bottom: 0;
  }
  .offers__paragraph {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .offers__inner {
    margin-top: 67px;
    margin-bottom: 67px;
  }
  .offers__content {
    margin-bottom: 0;
  }
  .directions__heading-subtitle {
    font-size: 20px;
  }
  .directions__heading-title {
    font-size: 28px;
  }
  .directions__heading {
    margin-bottom: 41px;
    width: 100%;
    align-items: start;
  }
  .directions__btn {
    margin-top: 41px;
    padding: 14px 30px;
    height: 48px;
    width: max-content;
  }
  .directions__inner {
    margin-top: 67.5px;
    margin-bottom: 67.5px;
  }
  .blog__heading-subtitle {
    font-size: 20px;
  }
  .blog__heading-title {
    font-size: 28px;
  }
  .blog__inner {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .blog__container {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .blog__btn {
    padding: 14px 30px;
    width: 208px;
    height: 48px;
  }
  .blog__heading {
    width: 100%;
    align-items: start;
  }
  .photos__heading-subtitle {
    font-size: 20px;
  }
  .photos__heading-title {
    font-size: 28px;
  }
  .photos__inner {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .photos__container {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .photos__btn {
    padding: 14px 30px;
    height: max-content;
    width: max-content;
  }
  .photos__header {
    width: 100%;
    align-items: start;
  }
  .form__container {
    margin-bottom: 65px;
  }
  .footer__main-inner {
    padding-top: 50px;
    flex-direction: column;
    gap: 50px;
    margin-right: 0;
    margin-left: 0;
  }
  .company {
    margin-right: 0;
  }
  .company__paragraph {
    width: 100%;
    margin-bottom: 0;
    height: max-content;
  }
  .company__socials {
    margin-top: 30px;
  }
  .socials {
    margin-top: 30px;
  }
  .services {
    margin-right: 0;
  }
  .important {
    margin-left: 0;
  }
  .footer__bottom-inner {
    margin-right: 0;
    margin-left: 0;
  }
}




@media (max-width: 545px){
  .basic__header-title {
    font-size: 34px;
  }
  .header {
    height: 705px;
  }
  .reserch__paragraph {
    font-size: 16px;
  }
}





@media (max-width: 470px) {
  .container {
    padding: 0 16px 0 16px;
  }
  .header {
    height: 600px;
    justify-content: space-between;
  }
  .header__top-inner {
    padding-top: 5.1px;
    padding-bottom: 0px;
  }
  .header__body-inner {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .burger {
    margin-right: 0px;
    margin-right: 4.5px;
  }
  .burger span {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 21px;
    border-radius: 2px;
    margin: 4.5px 0;
  }
  .burger::before{
    content: "";
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 21px;
    border-radius: 2px;
  }
  .burger::after {
    content: "";
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 13px;
    border-radius: 2px;
  }
  .header__logo {
    scale: 0.613;
    margin-left: -25px;
  }
  .header {
    height: 600px;
  }
  .basic__header-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
  }
  .header__form-btn--one {
    margin-top: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
  }
  .research__inner {
    margin-left: 0;
    margin-right: 0;
  }
  .research__heading-subtitle {
    font-size: 16px;
  }
  .research__heading-title {
    font-size: 24px;
  }
  .reserch__paragraph {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .research__btn {
    padding: 12px 24px;
    width: 176px;
    height: 44px; 
  }
  .main__research-content {
    margin-bottom: 40px;
  }
  .research__inner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .offers__heading-subtitle {
    font-size: 16px;
  }
  .offers__heading-title {
    font-size: 24px;
  }
  .offers__paragraph {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .offers__paragraph {
    font-size: 16px;
  }
  .offers__btn {
    padding: 12px 24px;
    width: 212px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
  }
  .offers__inner {
    margin-right: 0;
    margin-left: 0;
  }
  .peculiarities__list-item {
    margin-bottom: 32px;
  }
  .offers__inner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .directions__heading-subtitle {
    font-size: 16px;
  }
  .directions__heading-title {
    font-size: 24px;
  }
  .directions__inner {
    margin: 50px 0;
  }
  .directions__heading {
    margin-bottom: 32px;
  }
  .directions__btn {
    margin-top: 32px;
  }
  .directions__btn {
    margin-top: 32px;
    padding: 12px 24px;
    height: 44px;
    width: max-content;
  }
  .directions__heading {
    width: 100%;
    align-items: start;
  }
  .blog__inner {
    margin-right: 0;
    margin-left: 0;
  }
  .blog__heading-subtitle {
    font-size: 16px;
  }
  .blog__heading-title {
    font-size: 24px;
  }
  .blog__inner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .blog__container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .blog__btn {
    padding: 12px 24px;
    width: 196px;
    height: 44px;
  }
  .photos__heading-subtitle {
    font-size: 16px;
  }
  .photos__heading-title {
    font-size: 24px;
  }
  .photos__inner {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
  }
  .photos__container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .photos__btn {
    padding: 12px 24px;
    height: max-content;
    width: max-content;
  }
  .form__subtitle {
    display: none;
  }
  .form__title {
    display: none;
  }
  .form__subtitle2 {
    display: block;
    font-size: 16px;

  }
  .form__title2 {
    display: block;
    font-size: 24px;
  }
  .form__container {
    margin-right: 0;
    margin-left: 0;
    padding: 24px;
  }
  .email__input {
    width: 100%;
  }
  .form__container {
    margin-bottom: 50px;
  }
}


@media(max-width:402px) {
  .research__image-container {
    width: 100%;
  }
  .research__image-box {
    background-position: center center;
    background-size: cover;
  }
}



@media (max-width: 388px) {
  .basic__header-title{
    font-size: 27px;
  }
  .header {
    height: 600px;
  }
}






@media (max-width: 370px) {
  .basic__header-title{
    font-size: 26px;
  }
}